Win32/Debug/.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<?xml-stylesheet type="text/xsl" href="../library/wsdl.xsl" ?>
<wsdl:definitions name="eLab"
	targetNamespace="http://195.175.58.154:8755/webservices/elab/elab.php"
	xmlns:tns="http://195.175.58.154:8755/webservices/elab/elab.php"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://195.175.58.154:8755/webservices/elab/elab.php">
			<xsd:complexType name="Login">
				<xsd:sequence>
					<xsd:element name="UserName" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="PassWord" type="xsd:string" minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Gender">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="ERKEK" />
					<xsd:enumeration value="KADIN" />
					<xsd:enumeration value="BILINMIYOR" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CivilStatus">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="BEKAR" />
					<xsd:enumeration value="EVLI" />
					<xsd:enumeration value="DUL" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PatientType">
				<xsd:restriction base="xsd:int">
					<xsd:enumeration value="0" />
					<xsd:enumeration value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Emergency">
				<xsd:restriction base="xsd:int">
					<xsd:enumeration value="0" />
					<xsd:enumeration value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Flag">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="H" />
					<xsd:enumeration value="L" />
					<xsd:enumeration value="H+" />
					<xsd:enumeration value="L-" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="NewPatientContactInfo">
				<xsd:sequence>
					<xsd:element name="MobilePhone" type="xsd:string" minOccurs="0" maxOccurs="1" maxLength="10" />
					<xsd:element name="WorkPhone" type="xsd:string" minOccurs="0" maxOccurs="1" maxLength="10" />
					<xsd:element name="HomePhone" type="xsd:string" minOccurs="0" maxOccurs="1" maxLength="10" />
					<xsd:element name="EMail" type="xsd:string" minOccurs="0" maxOccurs="1" maxLength="200" />
					<xsd:element name="QuarterName" type="xsd:string" minOccurs="0" maxOccurs="1" maxLength="100" />
					<xsd:element name="Address" type="xsd:string" minOccurs="0" maxOccurs="1" maxLength="100" />
					<xsd:element name="OuterDoorNo" type="xsd:string" minOccurs="0" maxOccurs="1" maxLength="10" />
					<xsd:element name="InnerDoorNo" type="xsd:string" minOccurs="0" maxOccurs="1" maxLength="10" />
					<xsd:element name="CountyId" type="xsd:int" minOccurs="0" maxOccurs="1" />
					<xsd:element name="CountryId" type="xsd:int" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="NewPatientRegisterInfo">
				<xsd:sequence>
					<xsd:element name="BirthplaceId" type="xsd:int" minOccurs="0" maxOccurs="1" />
					<xsd:element name="RegisteredCountyId" type="xsd:int" minOccurs="0" maxOccurs="1" />
					<xsd:element name="RegisteredWillageName" type="xsd:string" minOccurs="0" maxOccurs="1" maxLength="50" />
					<xsd:element name="RegisteredBookNumber" type="xsd:int" minOccurs="0" maxOccurs="1" />
					<xsd:element name="RegisteredFamilyLineNumber" type="xsd:int" minOccurs="0" maxOccurs="1" />
					<xsd:element name="RegisteredLineNumber" type="xsd:int" minOccurs="0" maxOccurs="1" />
					<xsd:element name="CivilStatus" type="tns:CivilStatus" minOccurs="0" maxOccurs="1" maxLength="5" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="NewPatientInfo">
				<xsd:sequence>
					<xsd:element name="TCKNo" type="xsd:string" minOccurs="0" maxOccurs="1" maxLength="11" />
					<xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1" maxLength="40" />
					<xsd:element name="Surname" type="xsd:string" minOccurs="1" maxOccurs="1" maxLength="25" />
					<xsd:element name="FatherName" type="xsd:string" minOccurs="0" maxOccurs="1" maxLength="20" />
					<xsd:element name="MotherName" type="xsd:string" minOccurs="0" maxOccurs="1" maxLength="20" />
					<xsd:element name="BirthDate" type="xsd:date" minOccurs="1" maxOccurs="1" />
					<xsd:element name="Gender" type="tns:Gender" minOccurs="1" maxOccurs="1" />
					<xsd:element name="AssociationId" type="xsd:int" minOccurs="1" maxOccurs="1" />
					<xsd:element name="PatientContactInfo" type="tns:NewPatientContactInfo" minOccurs="0" maxOccurs="1" />
					<xsd:element name="PatientRegisterInfo" type="tns:NewPatientRegisterInfo" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="NewTest">
				<xsd:sequence>
					<xsd:element name="ReferenceCode" type="xsd:string" minOccurs="1" maxOccurs="1" maxLength="12" />
					<xsd:element name="TestNo" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="TestName" type="xsd:string" minOccurs="1" maxOccurs="1" maxLength="100" />
					<xsd:element name="SamplingTime" type="xsd:dateTime" minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="AddedTest">
				<xsd:sequence>
					<xsd:element name="ReferenceCode" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="BarcodeNo" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="ProcessNo" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="TestNo" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="TestName" type="xsd:string" minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PatientInfo">
				<xsd:sequence>
					<xsd:element name="TCKNo" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="PatientNo" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="ProtocolNo" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="BarcodeNo" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="Surname" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="BirthDate" type="xsd:date" minOccurs="1" maxOccurs="1" />
					<xsd:element name="Gender" type="tns:Gender" minOccurs="1" maxOccurs="1" />
					<xsd:element name="DepartmentNo" type="xsd:int" minOccurs="1" maxOccurs="1" />
					<xsd:element name="DepartmentName" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="DoctorNo" type="xsd:int" minOccurs="1" maxOccurs="1" />
					<xsd:element name="DoctorName" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="PatientType" type="tns:PatientType" minOccurs="1" maxOccurs="1" />
					<xsd:element name="Emergency" type="tns:Emergency" minOccurs="1" maxOccurs="1" />
					<xsd:element name="RequestTime" type="xsd:dateTime" minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Test">
				<xsd:sequence>
					<xsd:element name="BarcodeNo" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="TestNo" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="TestName" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="SampleType" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="SampleName" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="CupType" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="CupName" type="xsd:string" minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="TestResult">
				<xsd:sequence>
					<xsd:element name="TestNo" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="TestName" type="xsd:string" minOccurs="0" maxOccurs="1" maxLength="100" />
					<xsd:element name="Result" type="xsd:string" minOccurs="1" maxOccurs="1" maxLength="500" />
					<xsd:element name="Flag" type="tns:Flag" minOccurs="0" maxOccurs="1" maxLength="2" />
					<xsd:element name="Unit" type="xsd:string" minOccurs="0" maxOccurs="1" maxLength="20" />
					<xsd:element name="MinValue" type="xsd:decimal" minOccurs="0" maxOccurs="1" />
					<xsd:element name="MaxValue" type="xsd:decimal" minOccurs="0" maxOccurs="1" />
					<xsd:element name="RefRange" type="xsd:string" minOccurs="0" maxOccurs="1" maxLength="500" />
					<xsd:element name="Note" type="xsd:string" minOccurs="0" maxOccurs="1" maxLength="1000" />
					<xsd:element name="RWTime" type="xsd:dateTime" minOccurs="1" maxOccurs="1" />
					<xsd:element name="RWUser" type="xsd:string" minOccurs="1" maxOccurs="1" maxLength="12" />
					<xsd:element name="AppTime" type="xsd:dateTime" minOccurs="1" maxOccurs="1" />
					<xsd:element name="AppUser" type="xsd:string" minOccurs="1" maxOccurs="1"  maxLength="12" />
					<xsd:element name="InstrumentNo" type="xsd:int" minOccurs="0" maxOccurs="1" />
					<xsd:element name="Rerun" type="xsd:int" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Antibiotic">
				<xsd:sequence>
					<xsd:element name="AntibioticNo" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="AntibioticName" type="xsd:string" minOccurs="0" maxOccurs="1" />
					<xsd:element name="Result" 
					<xsd:element name="ResultMIC" type="xsd:string" minOccurs="0" maxOccurs="1"  maxLength="20" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Antibiogram">
				<xsd:sequence>
					<xsd:element name="BacteriaNo" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="BacteriaName" type="xsd:string" minOccurs="0" maxOccurs="1" maxLength="100" />
					<xsd:element name="AntibioticList">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Antibiotic" type="tns:Antibiotic" minOccurs="1" maxOccurs="unbounded" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="NewPatientRecord">
				<xsd:sequence>
					<xsd:element name="PatientInfo" type="tns:NewPatientInfo" minOccurs="1" maxOccurs="1" />
					<xsd:element name="TestList">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Test" type="tns:NewTest" minOccurs="1" maxOccurs="unbounded" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PatientTests">
				<xsd:sequence>
					<xsd:element name="PatientInfo" type="tns:PatientInfo" minOccurs="1" maxOccurs="1" />
					<xsd:element name="TestList">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Test" type="tns:Test" minOccurs="1" maxOccurs="unbounded" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PatientResults">
				<xsd:sequence>
					<xsd:element name="PatientInfo" type="tns:PatientInfo" minOccurs="1" maxOccurs="1" />
					<xsd:element name="TestList">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="TestResult" type="tns:TestResult" minOccurs="1" maxOccurs="unbounded" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="AddNewPatientRecordRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Login" type="tns:Login" minOccurs="1" maxOccurs="1" />
						<xsd:element name="PatientRecord" type="tns:NewPatientRecord" minOccurs="1" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AddNewPatientRecordResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AddNewPatientRecordResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="PatientNo" type="xsd:long" minOccurs="1" maxOccurs="1" />
									<xsd:element name="ProtocolNo" type="xsd:long" minOccurs="1" maxOccurs="1" />
									<xsd:element name="TestList">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="Test" type="tns:AddedTest" minOccurs="1" maxOccurs="unbounded" />
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetTestListWithTCKNoRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Login" type="tns:Login" minOccurs="1" maxOccurs="1" />
						<xsd:element name="TCKNo" type="xsd:string" minOccurs="1" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetTestListWithTCKNoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="GetTestListWithTCKNoResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="PatientTests" type="tns:PatientTests" minOccurs="1" maxOccurs="unbounded" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetTestListWithPatientNoRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Login" type="tns:Login" minOccurs="1" maxOccurs="1" />
						<xsd:element name="PatientNo" type="xsd:string" minOccurs="1" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetTestListWithPatientNoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="GetTestListWithPatientNoResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="PatientTests" type="tns:PatientTests" minOccurs="1" maxOccurs="unbounded" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetTestListWithProtocolNoRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Login" type="tns:Login" minOccurs="1" maxOccurs="1" />
						<xsd:element name="ProtocolNo" type="xsd:string" minOccurs="1" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetTestListWithProtocolNoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="GetTestListWithProtocolNoResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="PatientTests" type="tns:PatientTests" minOccurs="1" maxOccurs="unbounded" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetTestListWithBarcodeNoRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Login" type="tns:Login" minOccurs="1" maxOccurs="1" />
						<xsd:element name="BarcodeNo" type="xsd:string" minOccurs="1" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetTestListWithBarcodeNoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="GetTestListWithBarcodeNoResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="PatientTests" type="tns:PatientTests" minOccurs="1" maxOccurs="unbounded" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetTestListWithDateRangeRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Login" type="tns:Login" minOccurs="1" maxOccurs="1" />
						<xsd:element name="StartTime" type="xsd:dateTime" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="EndTime" type="xsd:dateTime" minOccurs="1" maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetTestListWithDateRangeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="GetTestListWithDateRangeResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="PatientTests" type="tns:PatientTests" minOccurs="1" maxOccurs="unbounded" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetTestResultWithTCKNoRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Login" type="tns:Login" minOccurs="1" maxOccurs="1" />
						<xsd:element name="TCKNo" type="xsd:string" minOccurs="1" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetTestResultWithTCKNoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="GetTestResultWithTCKNoResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="PatientResults" type="tns:PatientResults" minOccurs="1" maxOccurs="unbounded" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetTestResultWithPatientNoRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Login" type="tns:Login" minOccurs="1" maxOccurs="1" />
						<xsd:element name="PatientNo" type="xsd:string" minOccurs="1" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetTestResultWithPatientNoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="GetTestResultWithPatientNoResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="PatientResults" type="tns:PatientResults" minOccurs="1" maxOccurs="unbounded" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetTestResultWithProtocolNoRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Login" type="tns:Login" minOccurs="1" maxOccurs="1" />
						<xsd:element name="ProtocolNo" type="xsd:string" minOccurs="1" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetTestResultWithProtocolNoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="GetTestResultWithProtocolNoResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="PatientResults" type="tns:PatientResults" minOccurs="1" maxOccurs="unbounded" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetTestResultWithBarcodeNoRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Login" type="tns:Login" minOccurs="1" maxOccurs="1" />
						<xsd:element name="BarcodeNo" type="xsd:string" minOccurs="1" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetTestResultWithBarcodeNoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="GetTestResultWithBarcodeNoResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="PatientResults" type="tns:PatientResults" minOccurs="1" maxOccurs="unbounded" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetTestResultWithProcessNoRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Login" type="tns:Login" minOccurs="1" maxOccurs="1" />
						<xsd:element name="ProcessNo" type="xsd:string" minOccurs="1" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetTestResultWithProcessNoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="GetTestResultWithProcessNoResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="PatientResults" type="tns:PatientResults" minOccurs="1" maxOccurs="unbounded" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetTestResultWithReferenceCodeRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Login" type="tns:Login" minOccurs="1" maxOccurs="1" />
						<xsd:element name="ReferenceCode" type="xsd:string" minOccurs="1" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetTestResultWithReferenceCodeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="GetTestResultWithReferenceCodeResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="PatientResults" type="tns:PatientResults" minOccurs="1" maxOccurs="unbounded" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetTestResultWithDateRangeRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Login" type="tns:Login" minOccurs="1" maxOccurs="1" />
						<xsd:element name="StartTime" type="xsd:dateTime" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="EndTime" type="xsd:dateTime" minOccurs="1" maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetTestResultWithDateRangeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="GetTestResultWithDateRangeResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="PatientResults" type="tns:PatientResults" minOccurs="1" maxOccurs="unbounded" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SetTestResultWithBarcodeNoRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Login" type="tns:Login" minOccurs="1" maxOccurs="1" />
						<xsd:element name="BarcodeNo" type="xsd:string" minOccurs="1" maxOccurs="1" />
						<xsd:element name="TestResult" type="tns:TestResult" minOccurs="1" maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SetTestResultWithBarcodeNoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SetTestResultWithBarcodeNoResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="ReturnCode" type="xsd:string" minOccurs="1" maxOccurs="1" />
									<xsd:element name="Comment" type="xsd:string" minOccurs="1" maxOccurs="1" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SetAntibiogramResultWithBarcodeNoRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Login" type="tns:Login" minOccurs="1" maxOccurs="1" />
						<xsd:element name="BarcodeNo" type="xsd:string" minOccurs="1" maxOccurs="1" />
						<xsd:element name="TestNo" type="xsd:string" minOccurs="1" maxOccurs="1" />
						<xsd:element name="TestName" type="xsd:string" minOccurs="0" maxOccurs="1" maxLength="100" />
						<xsd:element name="AntibiogramList">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Antibiogram" type="tns:Antibiogram" minOccurs="1" maxOccurs="unbounded" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SetAntibiogramResultWithBarcodeNoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SetAntibiogramResultWithBarcodeNoResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="ReturnCode" type="xsd:string" minOccurs="1" maxOccurs="1" />
									<xsd:element name="Comment" type="xsd:string" minOccurs="1" maxOccurs="1" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RequestFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="code" type="xsd:string" minOccurs="0" maxOccurs="1" />
						<xsd:element name="message" type="xsd:string" minOccurs="0" maxOccurs="1" />
						<xsd:element name="offset" type="xsd:string" minOccurs="0" maxOccurs="1" />
						<xsd:element name="sqltext" type="xsd:string" minOccurs="0" maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="AddNewPatientRecordRequest">
		<wsdl:part name="Parameters" element="tns:AddNewPatientRecordRequest" />
	</wsdl:message>
	<wsdl:message name="AddNewPatientRecordResponse">
		<wsdl:part name="Parameters" element="tns:AddNewPatientRecordResponse" />
	</wsdl:message>
	<wsdl:message name="GetTestListWithTCKNoRequest">
		<wsdl:part name="Parameters" element="tns:GetTestListWithTCKNoRequest" />
	</wsdl:message>
	<wsdl:message name="GetTestListWithTCKNoResponse">
		<wsdl:part name="Parameters" element="tns:GetTestListWithTCKNoResponse" />
	</wsdl:message>
	<wsdl:message name="GetTestListWithPatientNoRequest">
		<wsdl:part name="Parameters" element="tns:GetTestListWithPatientNoRequest" />
	</wsdl:message>
	<wsdl:message name="GetTestListWithPatientNoResponse">
		<wsdl:part name="Parameters" element="tns:GetTestListWithPatientNoResponse" />
	</wsdl:message>
	<wsdl:message name="GetTestListWithProtocolNoRequest">
		<wsdl:part name="Parameters" element="tns:GetTestListWithProtocolNoRequest" />
	</wsdl:message>
	<wsdl:message name="GetTestListWithProtocolNoResponse">
		<wsdl:part name="Parameters" element="tns:GetTestListWithProtocolNoResponse" />
	</wsdl:message>
	<wsdl:message name="GetTestListWithBarcodeNoRequest">
		<wsdl:part name="Parameters" element="tns:GetTestListWithBarcodeNoRequest" />
	</wsdl:message>
	<wsdl:message name="GetTestListWithBarcodeNoResponse">
		<wsdl:part name="Parameters" element="tns:GetTestListWithBarcodeNoResponse" />
	</wsdl:message>
	<wsdl:message name="GetTestListWithDateRangeRequest">
		<wsdl:part name="Parameters" element="tns:GetTestListWithDateRangeRequest" />
	</wsdl:message>
	<wsdl:message name="GetTestListWithDateRangeResponse">
		<wsdl:part name="Parameters" element="tns:GetTestListWithDateRangeResponse" />
	</wsdl:message>
	<wsdl:message name="GetTestResultWithTCKNoRequest">
		<wsdl:part name="Parameters" element="tns:GetTestResultWithTCKNoRequest" />
	</wsdl:message>
	<wsdl:message name="GetTestResultWithTCKNoResponse">
		<wsdl:part name="Parameters" element="tns:GetTestResultWithTCKNoResponse" />
	</wsdl:message>
	<wsdl:message name="GetTestResultWithPatientNoRequest">
		<wsdl:part name="Parameters" element="tns:GetTestResultWithPatientNoRequest" />
	</wsdl:message>
	<wsdl:message name="GetTestResultWithPatientNoResponse">
		<wsdl:part name="Parameters" element="tns:GetTestResultWithPatientNoResponse" />
	</wsdl:message>
	<wsdl:message name="GetTestResultWithProtocolNoRequest">
		<wsdl:part name="Parameters" element="tns:GetTestResultWithProtocolNoRequest" />
	</wsdl:message>
	<wsdl:message name="GetTestResultWithProtocolNoResponse">
		<wsdl:part name="Parameters" element="tns:GetTestResultWithProtocolNoResponse" />
	</wsdl:message>
	<wsdl:message name="GetTestResultWithBarcodeNoRequest">
		<wsdl:part name="Parameters" element="tns:GetTestResultWithBarcodeNoRequest" />
	</wsdl:message>
	<wsdl:message name="GetTestResultWithBarcodeNoResponse">
		<wsdl:part name="Parameters" element="tns:GetTestResultWithBarcodeNoResponse" />
	</wsdl:message>
	<wsdl:message name="GetTestResultWithProcessNoRequest">
		<wsdl:part name="Parameters" element="tns:GetTestResultWithProcessNoRequest" />
	</wsdl:message>
	<wsdl:message name="GetTestResultWithProcessNoResponse">
		<wsdl:part name="Parameters" element="tns:GetTestResultWithProcessNoResponse" />
	</wsdl:message>
	<wsdl:message name="GetTestResultWithReferenceCodeRequest">
		<wsdl:part name="Parameters" element="tns:GetTestResultWithReferenceCodeRequest" />
	</wsdl:message>
	<wsdl:message name="GetTestResultWithReferenceCodeResponse">
		<wsdl:part name="Parameters" element="tns:GetTestResultWithReferenceCodeResponse" />
	</wsdl:message>
	<wsdl:message name="GetTestResultWithDateRangeRequest">
		<wsdl:part name="Parameters" element="tns:GetTestResultWithDateRangeRequest" />
	</wsdl:message>
	<wsdl:message name="GetTestResultWithDateRangeResponse">
		<wsdl:part name="Parameters" element="tns:GetTestResultWithDateRangeResponse" />
	</wsdl:message>
	<wsdl:message name="SetTestResultWithBarcodeNoRequest">
		<wsdl:part name="Parameters" element="tns:SetTestResultWithBarcodeNoRequest" />
	</wsdl:message>
	<wsdl:message name="SetTestResultWithBarcodeNoResponse">
		<wsdl:part name="Parameters" element="tns:SetTestResultWithBarcodeNoResponse" />
	</wsdl:message>
	<wsdl:message name="SetAntibiogramResultWithBarcodeNoRequest">
		<wsdl:part name="Parameters" element="tns:SetAntibiogramResultWithBarcodeNoRequest" />
	</wsdl:message>
	<wsdl:message name="SetAntibiogramResultWithBarcodeNoResponse">
		<wsdl:part name="Parameters" element="tns:SetAntibiogramResultWithBarcodeNoResponse" />
	</wsdl:message>
	<wsdl:message name="RequestFaultMessage">
		<wsdl:part name="Parameters" element="tns:RequestFault" />
	</wsdl:message>
	<wsdl:portType name="eLabPortType">
		<wsdl:operation name="AddNewPatientRecord">
			<wsdl:input message="tns:AddNewPatientRecordRequest" />
			<wsdl:output message="tns:AddNewPatientRecordResponse" />
			<wsdl:fault name="RequestFault" message="tns:RequestFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetTestListWithTCKNo">
			<wsdl:input message="tns:GetTestListWithTCKNoRequest" />
			<wsdl:output message="tns:GetTestListWithTCKNoResponse" />
			<wsdl:fault name="RequestFault" message="tns:RequestFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetTestListWithPatientNo">
			<wsdl:input message="tns:GetTestListWithPatientNoRequest" />
			<wsdl:output message="tns:GetTestListWithPatientNoResponse" />
			<wsdl:fault name="RequestFault" message="tns:RequestFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetTestListWithProtocolNo">
			<wsdl:input message="tns:GetTestListWithProtocolNoRequest" />
			<wsdl:output message="tns:GetTestListWithProtocolNoResponse" />
			<wsdl:fault name="RequestFault" message="tns:RequestFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetTestListWithBarcodeNo">
			<wsdl:input message="tns:GetTestListWithBarcodeNoRequest" />
			<wsdl:output message="tns:GetTestListWithBarcodeNoResponse" />
			<wsdl:fault name="RequestFault" message="tns:RequestFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetTestListWithDateRange">
			<wsdl:input message="tns:GetTestListWithDateRangeRequest" />
			<wsdl:output message="tns:GetTestListWithDateRangeResponse" />
			<wsdl:fault name="RequestFault" message="tns:RequestFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetTestResultWithTCKNo">
			<wsdl:input message="tns:GetTestResultWithTCKNoRequest" />
			<wsdl:output message="tns:GetTestResultWithTCKNoResponse" />
			<wsdl:fault name="RequestFault" message="tns:RequestFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetTestResultWithPatientNo">
			<wsdl:input message="tns:GetTestResultWithPatientNoRequest" />
			<wsdl:output message="tns:GetTestResultWithPatientNoResponse" />
			<wsdl:fault name="RequestFault" message="tns:RequestFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetTestResultWithProtocolNo">
			<wsdl:input message="tns:GetTestResultWithProtocolNoRequest" />
			<wsdl:output message="tns:GetTestResultWithProtocolNoResponse" />
			<wsdl:fault name="RequestFault" message="tns:RequestFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetTestResultWithBarcodeNo">
			<wsdl:input message="tns:GetTestResultWithBarcodeNoRequest" />
			<wsdl:output message="tns:GetTestResultWithBarcodeNoResponse" />
			<wsdl:fault name="RequestFault" message="tns:RequestFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetTestResultWithProcessNo">
			<wsdl:input message="tns:GetTestResultWithProcessNoRequest" />
			<wsdl:output message="tns:GetTestResultWithProcessNoResponse" />
			<wsdl:fault name="RequestFault" message="tns:RequestFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetTestResultWithReferenceCode">
			<wsdl:input message="tns:GetTestResultWithReferenceCodeRequest" />
			<wsdl:output message="tns:GetTestResultWithReferenceCodeResponse" />
			<wsdl:fault name="RequestFault" message="tns:RequestFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetTestResultWithDateRange">
			<wsdl:input message="tns:GetTestResultWithDateRangeRequest" />
			<wsdl:output message="tns:GetTestResultWithDateRangeResponse" />
			<wsdl:fault name="RequestFault" message="tns:RequestFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="SetTestResultWithBarcodeNo">
			<wsdl:input message="tns:SetTestResultWithBarcodeNoRequest" />
			<wsdl:output message="tns:SetTestResultWithBarcodeNoResponse" />
			<wsdl:fault name="RequestFault" message="tns:RequestFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="SetAntibiogramResultWithBarcodeNo">
			<wsdl:input message="tns:SetAntibiogramResultWithBarcodeNoRequest" />
			<wsdl:output message="tns:SetAntibiogramResultWithBarcodeNoResponse" />
			<wsdl:fault name="RequestFault" message="tns:RequestFaultMessage" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="eLabBinding" type="tns:eLabPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="AddNewPatientRecord">
			<soap:operation soapAction="http://195.175.58.154:8755/webservices/elab/elab.php" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="RequestFault">
				<soap:fault name="RequestFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetTestListWithTCKNo">
			<soap:operation soapAction="http://195.175.58.154:8755/webservices/elab/elab.php" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="RequestFault">
				<soap:fault name="RequestFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetTestListWithPatientNo">
			<soap:operation soapAction="http://195.175.58.154:8755/webservices/elab/elab.php" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="RequestFault">
				<soap:fault name="RequestFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetTestListWithProtocolNo">
			<soap:operation soapAction="http://195.175.58.154:8755/webservices/elab/elab.php" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="RequestFault">
				<soap:fault name="RequestFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetTestListWithBarcodeNo">
			<soap:operation soapAction="http://195.175.58.154:8755/webservices/elab/elab.php" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="RequestFault">
				<soap:fault name="RequestFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetTestListWithDateRange">
			<soap:operation soapAction="http://195.175.58.154:8755/webservices/elab/elab.php" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="RequestFault">
				<soap:fault name="RequestFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetTestResultWithTCKNo">
			<soap:operation soapAction="http://195.175.58.154:8755/webservices/elab/elab.php" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="RequestFault">
				<soap:fault name="RequestFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetTestResultWithPatientNo">
			<soap:operation soapAction="http://195.175.58.154:8755/webservices/elab/elab.php" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="RequestFault">
				<soap:fault name="RequestFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetTestResultWithProtocolNo">
			<soap:operation soapAction="http://195.175.58.154:8755/webservices/elab/elab.php" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="RequestFault">
				<soap:fault name="RequestFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetTestResultWithBarcodeNo">
			<soap:operation soapAction="http://195.175.58.154:8755/webservices/elab/elab.php" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="RequestFault">
				<soap:fault name="RequestFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetTestResultWithProcessNo">
			<soap:operation soapAction="http://195.175.58.154:8755/webservices/elab/elab.php" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="RequestFault">
				<soap:fault name="RequestFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetTestResultWithReferenceCode">
			<soap:operation soapAction="http://195.175.58.154:8755/webservices/elab/elab.php" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="RequestFault">
				<soap:fault name="RequestFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetTestResultWithDateRange">
			<soap:operation soapAction="http://195.175.58.154:8755/webservices/elab/elab.php" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="RequestFault">
				<soap:fault name="RequestFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="SetTestResultWithBarcodeNo">
			<soap:operation soapAction="http://195.175.58.154:8755/webservices/elab/elab.php" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="RequestFault">
				<soap:fault name="RequestFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="SetAntibiogramResultWithBarcodeNo">
			<soap:operation soapAction="http://195.175.58.154:8755/webservices/elab/elab.php" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="RequestFault">
				<soap:fault name="RequestFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="eLabService">
		<wsdl:port name="eLabPortType" binding="tns:eLabBinding">
			<soap:address location="http://195.175.58.154:8755/webservices/elab/elab.php" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>